.layout{
    width: 100vw;
    height: auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;    
    background-color: white;
    color: black;
    margin-right: 0%;
    padding: 0px;
    overflow-x: hidden;
    justify-content: space-between;
}

.navigation{
    background-color: brown;
}