@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.empty{
    text-align: justify;
    background-color: aqua;
}

.khali{
    height: 90vh;
    border: 2px solid white;
    width: auto;
    margin-top: 15vh;
    
}

.total{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.buttons{
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 30vh;
}

.shop{
    background-color: rgb(221, 220, 218);
    color: black;
    border-radius: 10px;
    height: 50%;
    width: auto;
    font-family: 'Luxurious Roman';
    font-size: larger;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shop:hover{
    border-color:  rgb(221, 220, 218);
}

.checkOut{
    background-color: rgb(221, 220, 218);
    color: black;
    border-radius: 10px;
    height: 50%;
    width: auto;
    font-family: 'Luxurious Roman';
    font-size: larger;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkOut:hover{
    border-color: rgb(221, 220, 218);
}