.supplement{
    height: 60vh;
    width: 90vw;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
}

.whey{
    height: 90%;
    width: 50%;
    border-radius: 5px;
}

.protein{
    display: flex;
    align-items: center;
    height: auto;
    width: 80vw;
    gap: 10px;
    padding-left: 5rem;
    margin-bottom: 40px;
    background-color: rgb(85, 84, 84);
    border-radius: 10px;
    padding-right: 20px;
    
}

.h2{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.creamp{
    height: 90%;
    width: 50%;
    border-radius: 5px;
}

.energy{
    display: flex;
    align-items: center;
    height: auto;
    width: 81vw;
    gap: 10px;
    padding-left: 4rem;
   background-color: rgb(96, 94, 94);
   padding-right: 20px;
   border-radius: 10px;   
   margin-bottom: 3rem;
}

.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin: 0px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0rem;
    width: 100vw;
    overflow-x: hidden;
    background-color: aliceblue;
}

.image{
    height: 200px;
    padding: 5px;
    width: 200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.grid{
    
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 300px;
    justify-content: space-between;
}

.container1{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 4rem;
}

.flex{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: 60px;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 15vw;
    padding: 5px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}