.supplement{
    height: 80vh;
    width: 90vw;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
}

.whey{
    height: 90%;
    width: 50%;
    border-radius: 5px;
}

.protein{
    display: flex;
    align-items: center;
    height: 60vh;
    width: 80vw;
    gap: 10px;
    padding-left: 5rem;
    margin-bottom: 40px;
    background-color: rgb(85, 84, 84);
    border-radius: 10px;
    padding-right: 20px;
    margin-left: 5rem;
}

.h2{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.creamp{
    height: 90%;
    width: 50%;
    border-radius: 5px;
}

.energy{
    display: flex;
    align-items: center;
    height: 60vh;
    width: 81vw;
    gap: 10px;
    padding-left: 4rem;
   background-color: rgb(96, 94, 94);
   padding-right: 20px;
   border-radius: 10px;
   margin-left: 5rem;
   margin-bottom: 3rem;
}

.footer{
    background-color: black;
    color: white;
    width: 100vw;
    height: 20vh;
    padding-top: 10px;
}