.image{
    height: 400px;
    width: 300px;
}

.productCard{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.productInfo{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 250px;
    margin-left: 10px;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
}

.button{
    background-color: antiquewhite;
    color: black;
}

p{
   border: 2px solid black;
   margin: 30px;
   border-radius: 10px; 
   padding: 5px;
}