@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.navigation{
    display: flex;
    width: 100vw;
    height: 18vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 6, 6);
    padding: 0px;
    font-size: 30px;
}

.inputtext{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
}

.white{
    color:white;
    border-bottom: 2px solid white;
    font-family: "Luxurious Roman", serif;
}

sup{
    color: red;
    font-size: large;
}

.name{
    font-family: 'Noto Serif' ;
    color: #2dd4bf;
    font-size: 55px;
}

.name:hover{
    color: #2dd4bf;
}

.black{
    font-family: "Luxurious Roman", serif;
}