.navigation{
    display: flex;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 6, 6);
    padding: 0px;
    font-size: 30px;
}

.inputtext{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
}

.white{
    color:white;
}