@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.cartItem{
    display: flex;
    flex-direction: column;
    width: 80vw; 
    align-items: flex-start; 
    justify-content: flex-start; 
    
}

.random{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(246, 245, 243);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.image{
    height: 200px;
    width: 150px;

}

.desc{
    
    align-items: start;
    justify-content: left;
}
.h1{
    color: red;
    font-family: "Luxurious Roman", serif;
}

.manageBtn{
    display: flex;
    gap: 10px;
    align-items: center;
   
}

.buttons{
    display: flex;
    align-items: center;
}

.change{
    height: 50px;
    width: 50px;
    background-color: rgb(246, 245, 243);
    color: black;
}

.change:hover{
   text-decoration: none;
   border-color: rgb(246, 245, 243);
}
.remove{
    height: 75px;
    width: 100px;
    background-color: rgb(246, 245, 243);
    color: black;
}

.remove:hover{
    text-decoration: none;
    border-color: rgb(246, 245, 243);
}