.cartItem{
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: red; 
    align-items: flex-start; 
    justify-content: flex-start; 
    
}

.random{
    display: flex;
    background-color: aqua;
    width: 300px;
    height: 300px;
    justify-content: start;
   
}

.image{
    height: 350px;
    width: 300px;
}

.desc{
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.manageBtn{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttons{
    display: flex;
    width: 150px;
    align-items: center;
}

.change{
    background-color: white;
    color: black;
}

.remove{
    width: 150px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}
